<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link th:href="@{/css/error.css}" rel="stylesheet" type="text/css" />
</head>

<body>

  <div id="type" class="hide-o" th:text="${errorType}"></div>

  <div id="container" class="container">
    <div id="img" class="img"></div>
    <div id="error" class="error hide-o"></div>
  </div>
  <div id="mes" class="mes hide-o">
    <div id="error-message"></div>
    <div id="redirect" class="redirect">
      <a id="login" class="button" href="/login">Login</a>
      <a id="home" class="button" href="/">Home</a>
    </div>

  </div>

  <script th:src="@{/js/error.js}"></script>
</body>

</html>